$primaryColor: #5297ff !default;
$primaryLightColor: #a9cbff !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #297fff !default;
$primaryDarkerColor: #2170e7 !default;
$primaryTextColor: #fff !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import url('../_variables');
@import url('../../theme-base/_components');
@import url('../_extensions');
