$primaryLightColor: #acd7e9 !default;
$primaryColor: #58aed3 !default;
$primaryDarkColor: #3099c6 !default;
$primaryDarkerColor: #16749d !default;
$primaryTextColor: #fff !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1) !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import url('../_variables');
@import url('../../theme-base/_components');
@import url('../_extensions');
