$primaryColor: #ffa858 !default;
$primaryLightColor: rgba($primaryColor, 0.5) !default;
$primaryDarkColor: #ff810e !default;
$primaryDarkerColor: #f17606 !default;
$primaryTextColor: #293241 !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1) !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import url('../_variables');
@import url('../../theme-base/_components');
@import url('../_extensions');
