$colors: (
    'blue': #2196f3,
    'green': #4caf50,
    'yellow': #fbc02d,
    'cyan': #00bcd4,
    'pink': #e91e63,
    'indigo': #3f51b5,
    'teal': #009688,
    'orange': #f57c00,
    'bluegray': #607d8b,
    'purple': #9c27b0,
    'red': #ff3d32,
    'primary': $primaryColor,
);

//shades
$shade000: #eaebec !default;$shade000$shade000$shade000$shade000$shade000$shade000 //text color
$shade100: #bfc2c6 !default;

//textcolor$shade100//textcolor$shade100

//textcolor$shade100//textcolor$shade100

//textcolor$shade100color$shade100 //text secondary color
$shade200: rgba($primaryColor, 0.2) !default;//textcolor$shade100//textcolor$shade100//textcolor$shade100color$shade100//textsecondarycolor$shade200//textcolor$shade100color$shade100//textsecondarycolor$shade200//textcolor$shade100color$shade100//textsecondarycolor$shade200//textsecondarycolor$shade200//textsecondarycolor$shade200secondarycolor$shade200 //hover background
$shade500: #233752 !default;//hoverbackground$shade500//hoverbackground$shade500//hoverbackground$shade500//hoverbackground$shade500//hoverbackground$shade500background$shade500
$shade600: #545b67 !default;$shade600$shade600$shade600$shade600$shade600
bg,border,divider$shade700 //unused
$shade800: #343d4a !default;bg,border,divider$shade700//unused$shade800

bg,border,divider$shade700//unused$shade800bg,border,divider$shade700//unused$shade800

bg,border,divider$shade700//unused$shade800//unused$shade800$shade800 //elevated surface
$shade900: #293241 !default;bg,border,divider$shade700//unused$shade800//unused$shade800$shade800//elevatedsurface$shade900bg,border,divider$shade700//unused$shade800//unused$shade800$shade800//elevatedsurface$shade900//elevatedsurface$shade900//elevatedsurface$shade900
//elevatedsurface$shade900surface$shade900 //ground surface

$hoverBg: rgba($primaryColor, 0.2) !default;//elevatedsurface$shade900surface$shade900//groundsurface$hoverBg//elevatedsurface$shade900surface$shade900//groundsurface$hoverBg//elevatedsurface$shade900surface$shade900//groundsurface$hoverBg//groundsurface$hoverBg//groundsurface$hoverBgsurface$hoverBg
//global
$fontFamily: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;//global$fontFamily//global$fontFamily//global$fontFamily//global$fontFamily//global$fontFamily$fontFamily
$fontSize: 1rem !default;$fontSize$fontSize$fontSize$fontSize$fontSize
$fontWeight: normal !default;$fontWeight$fontWeight$fontWeight$fontWeight
$textColor: $shade000 !default;$textColor$textColor$textColor
$textSecondaryColor: $shade100 !default;$textSecondaryColor$textSecondaryColor
$borderRadius: 10px !default;$borderRadius
$transitionDuration: 0.2s !default;
$formElementTransition: background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration !default;
$actionIconTransition: background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration !default;
$listItemTransition: box-shadow $transitionDuration !default;
$primeIconFontSize: 1rem !default;
$divider: 1px solid $shade600 !default;
$inlineSpacing: 0.5rem !default;

 //spacing between inline elements
$disabledOpacity: 0.4 !default;betweeninlineelements$disabledOpacitybetweeninlineelements$disabledOpacitybetweeninlineelements$disabledOpacitybetweeninlineelements$disabledOpacitybetweeninlineelements$disabledOpacitybetweeninlineelements$disabledOpacity //opacity of a disabled item
$maskBg: rgb(0 0 0 / 40%) !default;//opacityofadisableditem$maskBg//opacityofadisableditem$maskBg//opacityofadisableditem$maskBg//opacityofadisableditem$maskBg//opacityofadisableditem$maskBgofadisableditem$maskBg //modal mask bg color
$loadingIconFontSize: 2rem !default;//modalmaskbgcolor$loadingIconFontSize//modalmaskbgcolor$loadingIconFontSize//modalmaskbgcolor$loadingIconFontSize//modalmaskbgcolor$loadingIconFontSize//modalmaskbgcolor$loadingIconFontSizemaskbgcolor$loadingIconFontSize
$errorColor: #fca5a5 !default;$errorColor$errorColor$errorColor$errorColor$errorColor
//selected state
$highlightBg: rgba($primaryColor, 0.16);//selectedstate$highlightBg

//selectedstate$highlightBg//selectedstate$highlightBg

//selectedstate$highlightBgstate$highlightBgstate$highlightBg
$highlightTextColor: $textColor;//selectedstate$highlightBgstate$highlightBgstate$highlightBg$highlightTextColor//selectedstate$highlightBgstate$highlightBgstate$highlightBg$highlightTextColor$highlightTextColor$highlightTextColor$highlightTextColor
$highlightFocusBg: rgba($primaryColor, 0.24);$highlightFocusBg$highlightFocusBg$highlightFocusBg$highlightFocusBg

//scale
$scaleSM: 0.875 !default;//scale$scaleSM

//scale$scaleSM//scale$scaleSM$scaleSM$scaleSM$scaleSM
$scaleLG: 1.25 !default;$scaleLG$scaleLG$scaleLG$scaleLG$scaleLG

//focus
$focusOutlineColor: $primaryLightColor !default;

//focus$focusOutlineColor//focus$focusOutlineColor

//focus$focusOutlineColor//focus$focusOutlineColor$focusOutlineColor$focusOutlineColor
$focusOutline: 0 none !default;//focus$focusOutlineColor//focus$focusOutlineColor$focusOutlineColor$focusOutlineColor$focusOutline$focusOutline$focusOutline$focusOutline$focusOutline
$focusOutlineOffset: 0 !default;$focusOutlineOffset$focusOutlineOffset$focusOutlineOffset$focusOutlineOffset
$focusShadow: 0 0 0 0.2rem $focusOutlineColor !default;$focusShadow$focusShadow$focusShadow

//action icons
$actionIconWidth: 2rem !default;//actionicons$actionIconWidth

//actionicons$actionIconWidthicons$actionIconWidthicons$actionIconWidthicons$actionIconWidthicons$actionIconWidth
$actionIconHeight: 2rem !default;$actionIconHeight$actionIconHeight$actionIconHeight$actionIconHeight$actionIconHeight
$actionIconBg: transparent !default;$actionIconBg$actionIconBg$actionIconBg$actionIconBg
$actionIconBorder: 0 none !default;$actionIconBorder$actionIconBorder$actionIconBorder
$actionIconColor: $shade100 !default;$actionIconColor$actionIconColor
$actionIconHoverBg: $hoverBg !default;$actionIconHoverBg
$actionIconHoverBorderColor: transparent !default;
$actionIconHoverColor: $shade000 !default;
$actionIconBorderRadius: 50% !default;

field$inputPadding
$inputTextFontSize: 1rem !default;$inputTextFontSize$inputTextFontSize$inputTextFontSize$inputTextFontSize$inputTextFontSize
$inputBg: $shade900 !default;$inputBg$inputBg$inputBg$inputBg
$inputTextColor: $shade000 !default;$inputTextColor$inputTextColor$inputTextColor
$inputIconColor: $shade100 !default;$inputIconColor$inputIconColor
$inputBorder: 1px solid $shade600 !default;$inputBorder
$inputHoverBorderColor: $primaryColor !default;
$inputFocusBorderColor: $primaryColor !default;
$inputErrorBorderColor: $errorColor !default;
$inputPlaceholderTextColor: $shade100 !default;
$inputFilledBg: $shade600 !default;
$inputFilledHoverBg: $inputFilledBg !default;
$inputFilledFocusBg: $inputFilledBg !default;

groups$inputGroupBg
$inputGroupTextColor: $shade100 !default;$inputGroupTextColor$inputGroupTextColor$inputGroupTextColor$inputGroupTextColor$inputGroupTextColor
$inputGroupAddOnMinWidth: 3rem !default;$inputGroupAddOnMinWidth$inputGroupAddOnMinWidth$inputGroupAddOnMinWidth$inputGroupAddOnMinWidth

lists$inputListBg
$inputListTextColor: $shade000 !default;lists$inputListBg$inputListTextColor

lists$inputListBg$inputListTextColorlists$inputListBg$inputListTextColor$inputListTextColor$inputListTextColor
$inputListBorder: $inputBorder !default;$inputListBorder$inputListBorder$inputListBorder$inputListBorder
$inputListPadding: 0.75rem 0 !default;$inputListPadding$inputListPadding$inputListPadding
$inputListItemPadding: 0.75rem 1.25rem !default;$inputListItemPadding$inputListItemPadding
$inputListItemBg: transparent !default;$inputListItemBg
$inputListItemTextColor: $shade000 !default;
$inputListItemHoverBg: $hoverBg !default;
$inputListItemTextHoverColor: $shade000 !default;
$inputListItemBorder: 0 none !default;
$inputListItemBorderRadius: 0 !default;
$inputListItemMargin: 0 !default;
$inputListItemTextFocusColor: $shade000 !default;
$inputListItemFocusBg: $shade600 !default;
$inputListItemFocusShadow: inset 0 0 0 0.15rem $focusOutlineColor !default;
$inputListHeaderPadding: 0.75rem 1.25rem !default;
$inputListHeaderMargin: 0 !default;
$inputListHeaderBg: $shade800 !default;
$inputListHeaderTextColor: $shade000 !default;
$inputListHeaderBorder: 1px solid $shade600 !default;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBg: $inputListBg !default;withoverlays$inputOverlayBgwithoverlays$inputOverlayBgwithoverlays$inputOverlayBgwithoverlays$inputOverlayBgwithoverlays$inputOverlayBgwithoverlays$inputOverlayBg
$inputOverlayHeaderBg: $inputListHeaderBg !default;$inputOverlayHeaderBg$inputOverlayHeaderBg$inputOverlayHeaderBg$inputOverlayHeaderBg$inputOverlayHeaderBg
$inputOverlayBorder: 1px solid $shade600 !default;$inputOverlayBorder$inputOverlayBorder$inputOverlayBorder$inputOverlayBorder
$inputOverlayShadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%) !default;$inputOverlayShadow$inputOverlayShadow$inputOverlayShadow

//password
$passwordMeterBg: $shade600 !default;

//password$passwordMeterBg//password$passwordMeterBg$passwordMeterBg$passwordMeterBg$passwordMeterBg$passwordMeterBg
$passwordWeakBg: #eb9a9c !default;$passwordWeakBg$passwordWeakBg$passwordWeakBg$passwordWeakBg$passwordWeakBg
$passwordMediumBg: #ffcf91 !default;$passwordMediumBg$passwordMediumBg$passwordMediumBg$passwordMediumBg
$passwordStrongBg: #93deac !default;$passwordStrongBg$passwordStrongBg$passwordStrongBg

//button
$buttonPadding: 0.75rem 1.25rem !default;

//button$buttonPadding//button$buttonPadding$buttonPadding$buttonPadding$buttonPadding$buttonPadding
$buttonIconOnlyWidth: 3rem !default;$buttonIconOnlyWidth$buttonIconOnlyWidth$buttonIconOnlyWidth$buttonIconOnlyWidth$buttonIconOnlyWidth
$buttonIconOnlyPadding: 0.75rem 0 !default;$buttonIconOnlyPadding$buttonIconOnlyPadding$buttonIconOnlyPadding$buttonIconOnlyPadding
$buttonBg: $primaryColor !default;$buttonBg$buttonBg$buttonBg
$buttonTextColor: $primaryTextColor !default;$buttonTextColor$buttonTextColor
$buttonBorder: 1px solid $primaryColor !default;$buttonBorder
$buttonHoverBg: $primaryDarkColor !default;
$buttonTextHoverColor: $primaryTextColor !default;
$buttonHoverBorderColor: $primaryDarkColor !default;
$buttonActiveBg: $primaryDarkerColor !default;
$buttonTextActiveColor: $primaryTextColor !default;
$buttonActiveBorderColor: $primaryDarkerColor !default;
$raisedButtonShadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !default;
$roundedButtonBorderRadius: 2rem !default;

$textButtonHoverBgOpacity: 0.04 !default;
$textButtonActiveBgOpacity: 0.16 !default;
$outlinedButtonBorder: 1px solid !default;
$plainButtonTextColor: $textSecondaryColor !default;
$plainButtonHoverBgColor: $hoverBg !default;
$plainButtonActiveBgColor: rgb(255 255 255 / 16%) !default;

$secondaryButtonBg: #78909c !default;
$secondaryButtonTextColor: #1c2127 !default;
$secondaryButtonBorder: 1px solid $secondaryButtonBg !default;
$secondaryButtonHoverBg: scale-color($secondaryButtonBg, $lightness: -10%) !default;
$secondaryButtonTextHoverColor: $secondaryButtonTextColor !default;
$secondaryButtonHoverBorderColor: scale-color($secondaryButtonBg, $lightness: -10%) !default;
$secondaryButtonActiveBg: scale-color($secondaryButtonBg, $lightness: -20%) !default;
$secondaryButtonTextActiveColor: $secondaryButtonTextColor !default;
$secondaryButtonActiveBorderColor: scale-color($secondaryButtonBg, $lightness: -20%) !default;
$secondaryButtonFocusShadow: 0 0 0 1px scale-color($secondaryButtonBg, $lightness: 30%) !default;

$infoButtonBg: #81d4fa !default;
$infoButtonTextColor: #1c2127 !default;
$infoButtonBorder: 1px solid $infoButtonBg !default;
$infoButtonHoverBg: scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonTextHoverColor: $infoButtonTextColor !default;
$infoButtonHoverBorderColor: scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonActiveBg: scale-color($infoButtonBg, $lightness: -20%) !default;
$infoButtonTextActiveColor: $infoButtonTextColor !default;
$infoButtonActiveBorderColor: scale-color($infoButtonBg, $lightness: -20%) !default;
$infoButtonFocusShadow: 0 0 0 1px scale-color($infoButtonBg, $lightness: 30%) !default;

$successButtonBg: #c5e1a5 !default;
$successButtonTextColor: #1c2127 !default;
$successButtonBorder: 1px solid $successButtonBg !default;
$successButtonHoverBg: scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonTextHoverColor: $successButtonTextColor !default;
$successButtonHoverBorderColor: scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonActiveBg: scale-color($successButtonBg, $lightness: -20%) !default;
$successButtonTextActiveColor: $successButtonTextColor !default;
$successButtonActiveBorderColor: scale-color($successButtonBg, $lightness: -20%) !default;
$successButtonFocusShadow: 0 0 0 1px scale-color($successButtonBg, $lightness: 30%) !default;

$warningButtonBg: #ffe082 !default;
$warningButtonTextColor: #1c2127 !default;
$warningButtonBorder: 1px solid $warningButtonBg !default;
$warningButtonHoverBg: scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonTextHoverColor: $warningButtonTextColor !default;
$warningButtonHoverBorderColor: scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonActiveBg: scale-color($warningButtonBg, $lightness: -20%) !default;
$warningButtonTextActiveColor: $warningButtonTextColor !default;
$warningButtonActiveBorderColor: scale-color($warningButtonBg, $lightness: -20%) !default;
$warningButtonFocusShadow: 0 0 0 1px scale-color($warningButtonBg, $lightness: 30%) !default;

$helpButtonBg: #ce93d8 !default;
$helpButtonTextColor: #1c2127 !default;
$helpButtonBorder: 1px solid $helpButtonBg !default;
$helpButtonHoverBg: scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonTextHoverColor: $helpButtonTextColor !default;
$helpButtonHoverBorderColor: scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonActiveBg: scale-color($helpButtonBg, $lightness: -20%) !default;
$helpButtonTextActiveColor: $helpButtonTextColor !default;
$helpButtonActiveBorderColor: scale-color($helpButtonBg, $lightness: -20%) !default;
$helpButtonFocusShadow: 0 0 0 1px scale-color($helpButtonBg, $lightness: 30%) !default;

$dangerButtonBg: #f48fb1 !default;
$dangerButtonTextColor: #1c2127 !default;
$dangerButtonBorder: 1px solid $dangerButtonBg !default;
$dangerButtonHoverBg: scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonTextHoverColor: $dangerButtonTextColor !default;
$dangerButtonHoverBorderColor: scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonActiveBg: scale-color($dangerButtonBg, $lightness: -20%) !default;
$dangerButtonTextActiveColor: $dangerButtonTextColor !default;
$dangerButtonActiveBorderColor: scale-color($dangerButtonBg, $lightness: -20%) !default;
$dangerButtonFocusShadow: 0 0 0 1px scale-color($dangerButtonBg, $lightness: 30%) !default;

$linkButtonColor: $primaryColor !default;
$linkButtonHoverColor: $primaryColor !default;
$linkButtonTextHoverDecoration: underline !default;
$linkButtonFocusShadow: 0 0 0 1px $focusOutlineColor !default;

//checkbox
$checkboxWidth: 22px !default;$checkboxWidth$checkboxWidth$checkboxWidth$checkboxWidth$checkboxWidth$checkboxWidth
$checkboxHeight: 22px !default;$checkboxHeight$checkboxHeight$checkboxHeight$checkboxHeight$checkboxHeight
$checkboxBorder: 2px solid $shade600 !default;$checkboxBorder$checkboxBorder$checkboxBorder$checkboxBorder
$checkboxBorderRadius: 6px !default;$checkboxBorderRadius$checkboxBorderRadius$checkboxBorderRadius
$checkboxIconFontSize: 14px !default;$checkboxIconFontSize$checkboxIconFontSize
$checkboxActiveBorderColor: $primaryColor !default;$checkboxActiveBorderColor
$checkboxActiveBg: $primaryColor !default;
$checkboxIconActiveColor: $primaryTextColor !default;
$checkboxActiveHoverBg: $primaryDarkerColor !default;
$checkboxIconActiveHoverColor: $primaryTextColor !default;
$checkboxActiveHoverBorderColor: $primaryDarkerColor !default;

//radiobutton
$radiobuttonWidth: 22px !default;$radiobuttonWidth$radiobuttonWidth$radiobuttonWidth$radiobuttonWidth$radiobuttonWidth$radiobuttonWidth
$radiobuttonHeight: 22px !default;$radiobuttonHeight$radiobuttonHeight$radiobuttonHeight$radiobuttonHeight$radiobuttonHeight
$radiobuttonBorder: 2px solid $shade600 !default;$radiobuttonBorder$radiobuttonBorder$radiobuttonBorder$radiobuttonBorder
$radiobuttonIconSize: 12px !default;$radiobuttonIconSize$radiobuttonIconSize$radiobuttonIconSize
$radiobuttonActiveBorderColor: $primaryColor !default;$radiobuttonActiveBorderColor$radiobuttonActiveBorderColor
$radiobuttonActiveBg: $primaryColor !default;$radiobuttonActiveBg
$radiobuttonIconActiveColor: $primaryTextColor !default;
$radiobuttonActiveHoverBg: $primaryDarkerColor !default;
$radiobuttonIconActiveHoverColor: $primaryTextColor !default;
$radiobuttonActiveHoverBorderColor: $primaryDarkerColor !default;

//colorpicker
$colorPickerPreviewWidth: 2rem !default;$colorPickerPreviewWidth$colorPickerPreviewWidth$colorPickerPreviewWidth$colorPickerPreviewWidth$colorPickerPreviewWidth$colorPickerPreviewWidth
$colorPickerPreviewHeight: 2rem !default;$colorPickerPreviewHeight$colorPickerPreviewHeight$colorPickerPreviewHeight$colorPickerPreviewHeight$colorPickerPreviewHeight
$colorPickerBg: $shade800 !default;$colorPickerBg$colorPickerBg$colorPickerBg$colorPickerBg
$colorPickerBorder: 1px solid $shade600 !default;$colorPickerBorder$colorPickerBorder$colorPickerBorder
$colorPickerHandleColor: $shade000 !default;$colorPickerHandleColor$colorPickerHandleColor

//togglebutton
$toggleButtonBg: $shade800 !default;//togglebutton$toggleButtonBg$toggleButtonBg$toggleButtonBg$toggleButtonBg$toggleButtonBg$toggleButtonBg
$toggleButtonBorder: 1px solid $shade600 !default;$toggleButtonBorder$toggleButtonBorder$toggleButtonBorder$toggleButtonBorder$toggleButtonBorder
$toggleButtonTextColor: $shade000 !default;$toggleButtonTextColor$toggleButtonTextColor$toggleButtonTextColor$toggleButtonTextColor
$toggleButtonIconColor: $shade100 !default;$toggleButtonIconColor$toggleButtonIconColor$toggleButtonIconColor
$toggleButtonHoverBg: $hoverBg !default;$toggleButtonHoverBg$toggleButtonHoverBg
$toggleButtonHoverBorderColor: $shade600 !default;$toggleButtonHoverBorderColor
$toggleButtonTextHoverColor: $shade000 !default;
$toggleButtonIconHoverColor: $shade100 !default;
$toggleButtonActiveBg: $primaryColor !default;
$toggleButtonActiveBorderColor: $primaryColor !default;
$toggleButtonTextActiveColor: $primaryTextColor !default;
$toggleButtonIconActiveColor: $primaryTextColor !default;
$toggleButtonActiveHoverBg: $primaryDarkColor !default;
$toggleButtonActiveHoverBorderColor: $primaryDarkColor !default;
$toggleButtonTextActiveHoverColor: $primaryTextColor !default;
$toggleButtonIconActiveHoverColor: $primaryTextColor !default;

//inplace
$inplacePadding: $inputPadding !default;$inplacePadding$inplacePadding$inplacePadding$inplacePadding$inplacePadding$inplacePadding
$inplaceHoverBg: $hoverBg !default;$inplaceHoverBg$inplaceHoverBg$inplaceHoverBg$inplaceHoverBg$inplaceHoverBg
$inplaceTextHoverColor: $shade000 !default;$inplaceTextHoverColor$inplaceTextHoverColor$inplaceTextHoverColor$inplaceTextHoverColor

//rating
$ratingIconFontSize: 1.143rem !default;//rating$ratingIconFontSize

//rating$ratingIconFontSize//rating$ratingIconFontSize$ratingIconFontSize$ratingIconFontSize$ratingIconFontSize
$ratingCancelIconColor: #f48fb1 !default;$ratingCancelIconColor$ratingCancelIconColor$ratingCancelIconColor$ratingCancelIconColor$ratingCancelIconColor
$ratingCancelIconHoverColor: #f48fb1 !default;$ratingCancelIconHoverColor$ratingCancelIconHoverColor$ratingCancelIconHoverColor$ratingCancelIconHoverColor
$ratingStarIconOffColor: $shade000 !default;$ratingStarIconOffColor$ratingStarIconOffColor$ratingStarIconOffColor
$ratingStarIconOnColor: $primaryColor !default;$ratingStarIconOnColor$ratingStarIconOnColor
$ratingStarIconHoverColor: $primaryColor !default;$ratingStarIconHoverColor

//slider
$sliderBg: $shade600 !default;$sliderBg$sliderBg$sliderBg$sliderBg$sliderBg$sliderBg
$sliderBorder: 0 none !default;$sliderBorder$sliderBorder$sliderBorder$sliderBorder$sliderBorder
$sliderHorizontalHeight: 0.286rem !default;$sliderHorizontalHeight$sliderHorizontalHeight$sliderHorizontalHeight$sliderHorizontalHeight
$sliderVerticalWidth: 0.286rem !default;$sliderVerticalWidth$sliderVerticalWidth$sliderVerticalWidth
$sliderHandleWidth: 1.143rem !default;$sliderHandleWidth$sliderHandleWidth
$sliderHandleHeight: 1.143rem !default;$sliderHandleHeight
$sliderHandleBg: $shade600 !default;
$sliderHandleBorder: 2px solid $primaryColor !default;
$sliderHandleBorderRadius: 50% !default;
$sliderHandleHoverBorderColor: $primaryColor !default;
$sliderHandleHoverBg: $primaryColor !default;
$sliderRangeBg: $primaryColor !default;

//calendar
$calendarTableMargin: 0.5rem 0 !default;$calendarTableMargin$calendarTableMargin$calendarTableMargin$calendarTableMargin$calendarTableMargin$calendarTableMargin
$calendarPadding: 0.5rem !default;$calendarPadding$calendarPadding$calendarPadding$calendarPadding$calendarPadding
$calendarBg: $shade800 !default;$calendarBg$calendarBg$calendarBg$calendarBg
$calendarInlineBg: $calendarBg !default;$calendarInlineBg$calendarInlineBg$calendarInlineBg
$calendarTextColor: $shade000 !default;$calendarTextColor$calendarTextColor
$calendarBorder: $inputListBorder !default;$calendarBorder
$calendarOverlayBorder: $inputOverlayBorder !default;

$calendarHeaderPadding: 0.5rem !default;
$calendarHeaderBg: $shade800 !default;
$calendarInlineHeaderBg: $calendarBg !default;
$calendarHeaderBorder: 1px solid $shade600 !default;
$calendarHeaderTextColor: $shade000 !default;
$calendarHeaderFontWeight: 700 !default;
$calendarHeaderCellPadding: 0.5rem !default;
$calendarMonthYearHeaderHoverTextColor: $primaryColor !default;

$calendarCellDatePadding: 0.5rem !default;
$calendarCellDateWidth: 2.5rem !default;
$calendarCellDateHeight: 2.5rem !default;
$calendarCellDateBorderRadius: 50% !default;
$calendarCellDateBorder: 1px solid transparent !default;
$calendarCellDateHoverBg: $hoverBg !default;
$calendarCellDateTodayBg: transparent !default;
$calendarCellDateTodayBorderColor: transparent !default;
$calendarCellDateTodayTextColor: $primaryColor !default;

$calendarButtonBarPadding: 1rem 0 !default;
$calendarTimePickerPadding: 0.5rem !default;
$calendarTimePickerElementPadding: 0 0.5rem !default;
$calendarTimePickerTimeFontSize: 1.25rem !default;

$calendarBreakpoint: 769px !default;
$calendarCellDatePaddingSM: 0 !default;

//input switch
$inputSwitchWidth: 3rem !default;switch$inputSwitchWidthswitch$inputSwitchWidthswitch$inputSwitchWidthswitch$inputSwitchWidthswitch$inputSwitchWidthswitch$inputSwitchWidth
$inputSwitchHeight: 1.75rem !default;$inputSwitchHeight$inputSwitchHeight$inputSwitchHeight$inputSwitchHeight$inputSwitchHeight
$inputSwitchBorderRadius: 30px !default;$inputSwitchBorderRadius$inputSwitchBorderRadius$inputSwitchBorderRadius$inputSwitchBorderRadius
$inputSwitchHandleWidth: 1.25rem !default;$inputSwitchHandleWidth$inputSwitchHandleWidth$inputSwitchHandleWidth
$inputSwitchHandleHeight: 1.25rem !default;$inputSwitchHandleHeight$inputSwitchHandleHeight
$inputSwitchHandleBorderRadius: 50% !default;$inputSwitchHandleBorderRadius
$inputSwitchSliderPadding: 0.25rem !default;
$inputSwitchSliderOffBg: $shade500 !default;
$inputSwitchHandleOffBg: $shade100 !default;
$inputSwitchSliderOffHoverBg: $shade600 !default;
$inputSwitchSliderOnBg: $primaryColor !default;
$inputSwitchSliderOnHoverBg: $primaryDarkColor !default;
$inputSwitchHandleOnBg: $shade000 !default;

//panel
$panelHeaderBorderColor: $shade600 !default;$panelHeaderBorderColor$panelHeaderBorderColor$panelHeaderBorderColor$panelHeaderBorderColor$panelHeaderBorderColor$panelHeaderBorderColor
$panelHeaderBorder: 1px solid $shade600 !default;$panelHeaderBorder$panelHeaderBorder$panelHeaderBorder$panelHeaderBorder$panelHeaderBorder
$panelHeaderBg: $shade800 !default;$panelHeaderBg$panelHeaderBg$panelHeaderBg$panelHeaderBg
$panelHeaderTextColor: $shade000 !default;$panelHeaderTextColor$panelHeaderTextColor$panelHeaderTextColor
$panelHeaderFontWeight: 700 !default;$panelHeaderFontWeight$panelHeaderFontWeight
$panelHeaderPadding: 1.25rem !default;$panelHeaderPadding
$panelToggleableHeaderPadding: 0.75rem 1.25rem !default;

$panelHeaderHoverBg: $hoverBg !default;
$panelHeaderHoverBorderColor: $shade600 !default;
$panelHeaderTextHoverColor: $shade000 !default;

$panelContentBorderColor: $shade600 !default;
$panelContentBorder: 1px solid $shade600 !default;
$panelContentBg: $shade800 !default;
$panelContentEvenRowBg: rgb(255 255 255 / 1%) !default;
$panelContentTextColor: $shade000 !default;
$panelContentPadding: 1.25rem !default;

$panelFooterBorder: 1px solid $shade600 !default;
$panelFooterBg: $shade800 !default;
$panelFooterTextColor: $shade000 !default;
$panelFooterPadding: 0.75rem 1.25rem !default;

//accordion
$accordionSpacing: 4px !default;$accordionSpacing$accordionSpacing$accordionSpacing$accordionSpacing$accordionSpacing$accordionSpacing
$accordionHeaderBorder: $panelHeaderBorder !default;$accordionHeaderBorder$accordionHeaderBorder$accordionHeaderBorder$accordionHeaderBorder$accordionHeaderBorder
$accordionHeaderBg: $panelHeaderBg !default;$accordionHeaderBg$accordionHeaderBg$accordionHeaderBg$accordionHeaderBg
$accordionHeaderTextColor: $panelHeaderTextColor !default;$accordionHeaderTextColor$accordionHeaderTextColor$accordionHeaderTextColor
$accordionHeaderFontWeight: $panelHeaderFontWeight !default;$accordionHeaderFontWeight$accordionHeaderFontWeight
$accordionHeaderPadding: $panelHeaderPadding !default;$accordionHeaderPadding

$accordionHeaderHoverBg: $hoverBg !default;
$accordionHeaderHoverBorderColor: $shade600 !default;
$accordionHeaderTextHoverColor: $shade000 !default;

$accordionHeaderActiveBg: $panelHeaderBg !default;
$accordionHeaderActiveBorderColor: $shade600 !default;
$accordionHeaderTextActiveColor: $shade000 !default;

$accordionHeaderActiveHoverBg: $hoverBg !default;
$accordionHeaderActiveHoverBorderColor: $shade600 !default;
$accordionHeaderTextActiveHoverColor: $shade000 !default;

$accordionContentBorder: $panelContentBorder !default;
$accordionContentBg: $panelContentBg !default;
$accordionContentTextColor: $panelContentTextColor !default;
$accordionContentPadding: $panelContentPadding !default;

//tabview
$tabviewNavBorder: 1px solid $shade600 !default;$tabviewNavBorder$tabviewNavBorder$tabviewNavBorder$tabviewNavBorder$tabviewNavBorder$tabviewNavBorder
$tabviewNavBorderWidth: 0 0 2px 0 !default;$tabviewNavBorderWidth$tabviewNavBorderWidth$tabviewNavBorderWidth$tabviewNavBorderWidth$tabviewNavBorderWidth
$tabviewNavBg: transparent !default;$tabviewNavBg$tabviewNavBg$tabviewNavBg$tabviewNavBg

$tabviewHeaderSpacing: 0 !default;$tabviewHeaderSpacing$tabviewHeaderSpacing$tabviewHeaderSpacing
$tabviewHeaderBorder: solid $shade600 !default;$tabviewHeaderBorder$tabviewHeaderBorder
$tabviewHeaderBorderWidth: 0 0 2px 0 !default;$tabviewHeaderBorderWidth
$tabviewHeaderBorderColor: transparent transparent $shade600 transparent !default;
$tabviewHeaderBg: $shade800 !default;
$tabviewHeaderTextColor: $shade100 !default;
$tabviewHeaderFontWeight: $panelHeaderFontWeight !default;
$tabviewHeaderPadding: $panelHeaderPadding !default;
$tabviewHeaderMargin: 0 0 -2px 0 !default;

$tabviewHeaderHoverBg: $shade800 !default;
$tabviewHeaderHoverBorderColor: $primaryColor !default;
$tabviewHeaderTextHoverColor: $shade000 !default;

$tabviewHeaderActiveBg: $shade800 !default;
$tabviewHeaderActiveBorderColor: $primaryColor !default;
$tabviewHeaderTextActiveColor: $primaryColor !default;

$tabviewContentBorder: 0 none !default;
$tabviewContentBg: $shade800 !default;
$tabviewContentTextColor: $shade000 !default;
$tabviewContentPadding: $panelContentPadding !default;

//upload
$fileUploadProgressBarHeight: 0.25rem !default;$fileUploadProgressBarHeight$fileUploadProgressBarHeight$fileUploadProgressBarHeight$fileUploadProgressBarHeight$fileUploadProgressBarHeight$fileUploadProgressBarHeight
$fileUploadContentPadding: 2rem 1rem !default;$fileUploadContentPadding$fileUploadContentPadding$fileUploadContentPadding$fileUploadContentPadding$fileUploadContentPadding
$fileUploadFileBorder: 1px solid $shade600 !default;$fileUploadFileBorder$fileUploadFileBorder$fileUploadFileBorder$fileUploadFileBorder
$fileUploadFilePadding: 1rem !default;$fileUploadFilePadding$fileUploadFilePadding$fileUploadFilePadding

//scrollpanel
$scrollPanelTrackBorder: 0 none !default;

//scrollpanel$scrollPanelTrackBorder//scrollpanel$scrollPanelTrackBorder$scrollPanelTrackBorder$scrollPanelTrackBorder$scrollPanelTrackBorder$scrollPanelTrackBorder
$scrollPanelTrackBg: $shade600 !default;$scrollPanelTrackBg$scrollPanelTrackBg$scrollPanelTrackBg$scrollPanelTrackBg$scrollPanelTrackBg

//card
$cardBodyPadding: 1.25rem !default;

//card$cardBodyPadding//card$cardBodyPadding

//card$cardBodyPadding//card$cardBodyPadding$cardBodyPadding$cardBodyPadding
$cardTitleFontSize: 1.5rem !default;//card$cardBodyPadding//card$cardBodyPadding$cardBodyPadding$cardBodyPadding$cardTitleFontSize$cardTitleFontSize$cardTitleFontSize$cardTitleFontSize$cardTitleFontSize
$cardTitleFontWeight: 700 !default;$cardTitleFontWeight$cardTitleFontWeight$cardTitleFontWeight$cardTitleFontWeight
$cardSubTitleFontWeight: 400 !default;$cardSubTitleFontWeight$cardSubTitleFontWeight$cardSubTitleFontWeight
$cardSubTitleColor: $shade100 !default;$cardSubTitleColor$cardSubTitleColor
$cardContentPadding: 1.25rem 0 !default;$cardContentPadding
$cardFooterPadding: 1.25rem 0 0 0 !default;
$cardShadow: 0 10px 40px rgb(41 50 65 / 6%) !default;

//editor
$editorToolbarBg: $panelHeaderBg !default;$editorToolbarBg$editorToolbarBg$editorToolbarBg$editorToolbarBg$editorToolbarBg$editorToolbarBg
$editorToolbarBorder: $panelHeaderBorder !default;$editorToolbarBorder$editorToolbarBorder$editorToolbarBorder$editorToolbarBorder$editorToolbarBorder
$editorToolbarPadding: $panelHeaderPadding !default;$editorToolbarPadding$editorToolbarPadding$editorToolbarPadding$editorToolbarPadding
$editorToolbarIconColor: $textSecondaryColor !default;$editorToolbarIconColor$editorToolbarIconColor$editorToolbarIconColor
$editorToolbarIconHoverColor: $textColor !default;$editorToolbarIconHoverColor$editorToolbarIconHoverColor
$editorIconActiveColor: $primaryColor !default;$editorIconActiveColor
$editorContentBorder: $panelContentBorder !default;
$editorContentBg: $panelContentBg !default;

//paginator
$paginatorBg: $shade800 !default;$paginatorBg$paginatorBg$paginatorBg$paginatorBg$paginatorBg$paginatorBg
$paginatorTextColor: $shade100 !default;$paginatorTextColor$paginatorTextColor$paginatorTextColor$paginatorTextColor$paginatorTextColor
$paginatorBorder: solid $shade600 !default;$paginatorBorder$paginatorBorder$paginatorBorder$paginatorBorder
$paginatorBorderWidth: 1px !default;$paginatorBorderWidth$paginatorBorderWidth$paginatorBorderWidth
$paginatorPadding: 0.5rem 1rem !default;$paginatorPadding$paginatorPadding
$paginatorElementWidth: $buttonIconOnlyWidth !default;$paginatorElementWidth
$paginatorElementHeight: $buttonIconOnlyWidth !default;
$paginatorElementBg: transparent !default;
$paginatorElementBorder: 0 none !default;
$paginatorElementIconColor: $shade100 !default;
$paginatorElementHoverBg: $hoverBg !default;
$paginatorElementHoverBorderColor: transparent !default;
$paginatorElementIconHoverColor: $shade000 !default;
$paginatorElementBorderRadius: $borderRadius !default;
$paginatorElementMargin: 0.143rem !default;
$paginatorElementPadding: 0 !default;

//table
$tableHeaderBorder: 1px solid $shade600 !default;$tableHeaderBorder$tableHeaderBorder$tableHeaderBorder$tableHeaderBorder$tableHeaderBorder$tableHeaderBorder
$tableHeaderBorderWidth: 0 0 1px 0 !default;$tableHeaderBorderWidth$tableHeaderBorderWidth$tableHeaderBorderWidth$tableHeaderBorderWidth$tableHeaderBorderWidth
$tableHeaderBg: $shade800 !default;$tableHeaderBg$tableHeaderBg$tableHeaderBg$tableHeaderBg
$tableHeaderTextColor: $shade100 !default;$tableHeaderTextColor$tableHeaderTextColor$tableHeaderTextColor
$tableHeaderFontWeight: 700 !default;$tableHeaderFontWeight$tableHeaderFontWeight
$tableHeaderPadding: 1rem 1rem !default;$tableHeaderPadding

$tableHeaderCellPadding: 1rem 1rem !default;
$tableHeaderCellBg: $shade800 !default;
$tableHeaderCellTextColor: $shade000 !default;
$tableHeaderCellFontWeight: 700 !default;
$tableHeaderCellBorder: 1px solid $shade600 !default;
$tableHeaderCellBorderWidth: 0 0 1px 0 !default;
$tableHeaderCellHoverBg: $hoverBg !default;
$tableHeaderCellTextHoverColor: $shade000 !default;
$tableHeaderCellIconColor: $shade100 !default;
$tableHeaderCellIconHoverColor: $shade000 !default;
$tableHeaderCellHighlightBg: $highlightBg !default;
$tableHeaderCellHighlightTextColor: $highlightTextColor !default;
$tableHeaderCellHighlightHoverBg: $highlightBg !default;
$tableHeaderCellHighlightTextHoverColor: $highlightTextColor !default;
$tableSortableColumnBadgeSize: 1.143rem !default;

$tableBodyRowBg: $shade800 !default;
$tableBodyRowTextColor: $shade000 !default;
$tableBodyRowEvenBg: #0d1a2c !default;
$tableBodyRowHoverBg: $hoverBg !default;
$tableBodyRowTextHoverColor: $shade000 !default;
$tableBodyCellBorder: 1px solid $shade600 !default;
$tableBodyCellBorderWidth: 0 0 1px 0 !default;
$tableBodyCellPadding: 1rem 1rem !default;

$tableFooterCellPadding: 1rem 1rem !default;
$tableFooterCellBg: $shade800 !default;
$tableFooterCellTextColor: $shade000 !default;
$tableFooterCellFontWeight: 700 !default;
$tableFooterCellBorder: 1px solid $shade600 !default;
$tableFooterCellBorderWidth: 0 0 1px 0 !default;
$tableResizerHelperBg: $primaryColor !default;
$tableDragHelperBg: rgba($primaryColor, .16) !default;

$tableFooterBorder: 1px solid $shade600 !default;
$tableFooterBorderWidth: 0 0 1px 0 !default;
$tableFooterBg: $shade800 !default;
$tableFooterTextColor: $shade000 !default;
$tableFooterFontWeight: 700 !default;
$tableFooterPadding: 1rem 1rem !default;

$tableCellContentAlignment: left !default;
$tableTopPaginatorBorderWidth: 1px 0 1px 0 !default;
$tableBottomPaginatorBorderWidth: 0 0 1px 0 !default;

$tableScaleSM: 0.5 !default;
$tableScaleLG: 1.25 !default;

//dataview
$dataViewContentPadding: 0 !default;$dataViewContentPadding$dataViewContentPadding$dataViewContentPadding$dataViewContentPadding$dataViewContentPadding$dataViewContentPadding
$dataViewContentBorder: 0 none !default;$dataViewContentBorder$dataViewContentBorder$dataViewContentBorder$dataViewContentBorder$dataViewContentBorder
$dataViewListItemBorder: solid $shade600 !default;$dataViewListItemBorder$dataViewListItemBorder$dataViewListItemBorder$dataViewListItemBorder
$dataViewListItemBorderWidth: 0 0 1px 0 !default;$dataViewListItemBorderWidth$dataViewListItemBorderWidth$dataViewListItemBorderWidth

//schedule
$fullCalendarEventBg: $primaryDarkColor !default;

//schedule$fullCalendarEventBg//schedule$fullCalendarEventBg$fullCalendarEventBg$fullCalendarEventBg$fullCalendarEventBg$fullCalendarEventBg
$fullCalendarEventBorderColor: $primaryDarkColor !default;$fullCalendarEventBorderColor$fullCalendarEventBorderColor$fullCalendarEventBorderColor$fullCalendarEventBorderColor$fullCalendarEventBorderColor
$fullCalendarEventBorder: 1px solid $primaryDarkColor !default;$fullCalendarEventBorder$fullCalendarEventBorder$fullCalendarEventBorder$fullCalendarEventBorder
$fullCalendarEventTextColor: $primaryTextColor !default;$fullCalendarEventTextColor$fullCalendarEventTextColor$fullCalendarEventTextColor

//tree
$treeContainerPadding: 0.286rem !default;

//tree$treeContainerPadding//tree$treeContainerPadding$treeContainerPadding$treeContainerPadding$treeContainerPadding$treeContainerPadding
$treeNodePadding: 0.143rem !default;$treeNodePadding$treeNodePadding$treeNodePadding$treeNodePadding$treeNodePadding
$treeNodeContentPadding: 0.5rem !default;$treeNodeContentPadding$treeNodeContentPadding$treeNodeContentPadding$treeNodeContentPadding
$treeNodeChildrenPadding: 0 0 0 1rem !default;$treeNodeChildrenPadding$treeNodeChildrenPadding$treeNodeChildrenPadding
$treeNodeIconColor: $shade100 !default;$treeNodeIconColor$treeNodeIconColor

//timeline
$timelineVerticalEventContentPadding: 0 1rem !default;//timeline$timelineVerticalEventContentPadding$timelineVerticalEventContentPadding$timelineVerticalEventContentPadding$timelineVerticalEventContentPadding$timelineVerticalEventContentPadding$timelineVerticalEventContentPadding
$timelineHorizontalEventContentPadding: 1rem 0 !default;$timelineHorizontalEventContentPadding$timelineHorizontalEventContentPadding$timelineHorizontalEventContentPadding$timelineHorizontalEventContentPadding$timelineHorizontalEventContentPadding
$timelineEventMarkerWidth: 1rem !default;$timelineEventMarkerWidth$timelineEventMarkerWidth$timelineEventMarkerWidth$timelineEventMarkerWidth
$timelineEventMarkerHeight: 1rem !default;$timelineEventMarkerHeight$timelineEventMarkerHeight$timelineEventMarkerHeight
$timelineEventMarkerBorderRadius: 50% !default;$timelineEventMarkerBorderRadius$timelineEventMarkerBorderRadius
$timelineEventMarkerBorder: 2px solid $primaryColor !default;$timelineEventMarkerBorder
$timelineEventMarkerBackground: $primaryTextColor !default;
$timelineEventConnectorSize: 2px !default;
$timelineEventColor: $shade600 !default;

//org chart
$organizationChartConnectorColor: $shade600 !default;chart$organizationChartConnectorColorchart$organizationChartConnectorColorchart$organizationChartConnectorColorchart$organizationChartConnectorColorchart$organizationChartConnectorColorchart$organizationChartConnectorColor
//message
$messageMargin: 1rem 0 !default;//message$messageMargin//message$messageMargin//message$messageMargin//message$messageMargin//message$messageMargin$messageMargin
$messagePadding: 1.25rem 1.75rem !default;$messagePadding$messagePadding$messagePadding$messagePadding$messagePadding
$messageBorderWidth: 0 0 0 6px !default;$messageBorderWidth$messageBorderWidth$messageBorderWidth$messageBorderWidth
$messageIconFontSize: 1.5rem !default;$messageIconFontSize$messageIconFontSize$messageIconFontSize
$messageTextFontSize: 1rem !default;$messageTextFontSize$messageTextFontSize
$messageTextFontWeight: 400 !default;$messageTextFontWeight

//inline message
$inlineMessagePadding: $inputPadding !default;message$inlineMessagePaddingmessage$inlineMessagePaddingmessage$inlineMessagePaddingmessage$inlineMessagePaddingmessage$inlineMessagePaddingmessage$inlineMessagePadding
$inlineMessageMargin: 0 !default;$inlineMessageMargin$inlineMessageMargin$inlineMessageMargin$inlineMessageMargin$inlineMessageMargin
$inlineMessageIconFontSize: 1rem !default;$inlineMessageIconFontSize$inlineMessageIconFontSize$inlineMessageIconFontSize$inlineMessageIconFontSize
$inlineMessageTextFontSize: 1rem !default;$inlineMessageTextFontSize$inlineMessageTextFontSize$inlineMessageTextFontSize
$inlineMessageBorderWidth: 1px !default;$inlineMessageBorderWidth$inlineMessageBorderWidth

//toast
$toastIconFontSize: 2rem !default;//toast$toastIconFontSize$toastIconFontSize$toastIconFontSize$toastIconFontSize$toastIconFontSize$toastIconFontSize
$toastMessageTextMargin: 0 0 0 1rem !default;$toastMessageTextMargin$toastMessageTextMargin$toastMessageTextMargin$toastMessageTextMargin$toastMessageTextMargin
$toastMargin: 0 0 1rem 0 !default;$toastMargin$toastMargin$toastMargin$toastMargin
$toastPadding: 1rem !default;$toastPadding$toastPadding$toastPadding
$toastBorderWidth: 0 0 0 6px !default;$toastBorderWidth$toastBorderWidth
$toastShadow: none !default;$toastShadow
$toastOpacity: 0.9 !default;
$toastTitleFontWeight: 700 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg: #b3e5fc !default;$infoMessageBg$infoMessageBg$infoMessageBg$infoMessageBg$infoMessageBg$infoMessageBg
$infoMessageBorder: solid scale-color($infoMessageBg, $lightness: -50%) !default;$infoMessageBorder$infoMessageBorder$infoMessageBorder$infoMessageBorder$infoMessageBorder
$infoMessageTextColor: scale-color($infoMessageBg, $lightness: -75%) !default;$infoMessageTextColor$infoMessageTextColor$infoMessageTextColor$infoMessageTextColor
$infoMessageIconColor: scale-color($infoMessageBg, $lightness: -75%) !default;$infoMessageIconColor$infoMessageIconColor$infoMessageIconColor
$successMessageBg: #c8e6c9 !default;$successMessageBg$successMessageBg
$successMessageBorder: solid scale-color($successMessageBg, $lightness: -50%) !default;$successMessageBorder
$successMessageTextColor: scale-color($successMessageBg, $lightness: -75%) !default;
$successMessageIconColor: scale-color($successMessageBg, $lightness: -75%) !default;
$warningMessageBg: #ffecb3 !default;
$warningMessageBorder: solid scale-color($warningMessageBg, $lightness: -50%) !default;
$warningMessageTextColor: scale-color($warningMessageBg, $lightness: -75%) !default;
$warningMessageIconColor: scale-color($warningMessageBg, $lightness: -75%) !default;
$errorMessageBg: #ffcdd2 !default;
$errorMessageBorder: solid scale-color($errorMessageBg, $lightness: -50%) !default;
$errorMessageTextColor: scale-color($errorMessageBg, $lightness: -75%) !default;
$errorMessageIconColor: scale-color($errorMessageBg, $lightness: -75%) !default;

//overlays
$overlayContentBorder: 1px solid $shade600 !default;$overlayContentBorder$overlayContentBorder$overlayContentBorder$overlayContentBorder$overlayContentBorder$overlayContentBorder
$overlayContentBg: $panelContentBg !default;$overlayContentBg$overlayContentBg$overlayContentBg$overlayContentBg$overlayContentBg
$overlayContainerShadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%) !default;$overlayContainerShadow$overlayContainerShadow$overlayContainerShadow$overlayContainerShadow

//dialog
$dialogHeaderBg: $shade800 !default;//dialog$dialogHeaderBg

//dialog$dialogHeaderBg//dialog$dialogHeaderBg$dialogHeaderBg$dialogHeaderBg$dialogHeaderBg
$dialogHeaderBorder: 0 none !default;$dialogHeaderBorder$dialogHeaderBorder$dialogHeaderBorder$dialogHeaderBorder$dialogHeaderBorder
$dialogHeaderTextColor: $shade000 !default;$dialogHeaderTextColor$dialogHeaderTextColor$dialogHeaderTextColor$dialogHeaderTextColor
$dialogHeaderFontWeight: 700 !default;$dialogHeaderFontWeight$dialogHeaderFontWeight$dialogHeaderFontWeight
$dialogHeaderFontSize: 1.25rem !default;$dialogHeaderFontSize$dialogHeaderFontSize
$dialogHeaderPadding: 1.5rem !default;$dialogHeaderPadding
$dialogContentPadding: 0 1.5rem 2rem 1.5rem !default;
$dialogFooterBorder: 0 none !default;
$dialogFooterPadding: 0 1.5rem 1.5rem 1.5rem !default;

//confirmpopup
$confirmPopupContentPadding: $panelContentPadding !default;$confirmPopupContentPadding$confirmPopupContentPadding$confirmPopupContentPadding$confirmPopupContentPadding$confirmPopupContentPadding$confirmPopupContentPadding
$confirmPopupFooterPadding: 0 1.25rem 1.25rem 1.25rem !default;$confirmPopupFooterPadding$confirmPopupFooterPadding$confirmPopupFooterPadding$confirmPopupFooterPadding$confirmPopupFooterPadding

//tooltip
$tooltipBg: $shade900 !default;

//tooltip$tooltipBg//tooltip$tooltipBg

//tooltip$tooltipBg//tooltip$tooltipBg$tooltipBg$tooltipBg
$tooltipTextColor: $shade000 !default;//tooltip$tooltipBg//tooltip$tooltipBg$tooltipBg$tooltipBg$tooltipTextColor$tooltipTextColor$tooltipTextColor$tooltipTextColor$tooltipTextColor
$tooltipPadding: $inputPadding !default;$tooltipPadding$tooltipPadding$tooltipPadding$tooltipPadding

//steps
$stepsItemBg: transparent !default;//steps$stepsItemBg

//steps$stepsItemBg//steps$stepsItemBg$stepsItemBg$stepsItemBg$stepsItemBg
$stepsItemBorder: 0 none !default;$stepsItemBorder$stepsItemBorder$stepsItemBorder$stepsItemBorder$stepsItemBorder
$stepsItemTextColor: $shade100 !default;$stepsItemTextColor$stepsItemTextColor$stepsItemTextColor$stepsItemTextColor
$stepsItemNumberWidth: 2rem !default;$stepsItemNumberWidth$stepsItemNumberWidth$stepsItemNumberWidth
$stepsItemNumberHeight: 2rem !default;$stepsItemNumberHeight$stepsItemNumberHeight
$stepsItemNumberFontSize: 1.143rem !default;$stepsItemNumberFontSize
$stepsItemNumberColor: $shade000 !default;
$stepsItemNumberBorderRadius: 50% !default;
$stepsItemActiveFontWeight: 700 !default;

//progressbar
$progressBarHeight: 1.5rem !default;$progressBarHeight$progressBarHeight$progressBarHeight$progressBarHeight$progressBarHeight$progressBarHeight
$progressBarBorder: 0 none !default;$progressBarBorder$progressBarBorder$progressBarBorder$progressBarBorder$progressBarBorder
$progressBarBg: $shade600 !default;$progressBarBg$progressBarBg$progressBarBg$progressBarBg
$progressBarValueBg: $primaryColor !default;$progressBarValueBg$progressBarValueBg$progressBarValueBg
$progressBarValueTextColor: $primaryTextColor !default;$progressBarValueTextColor$progressBarValueTextColor

$progressSpinnerStrokeColor: $errorMessageTextColor !default;$progressSpinnerStrokeColor
$progressSpinnerColorOne: $errorMessageTextColor !default;
$progressSpinnerColorTwo: $infoMessageTextColor !default;
$progressSpinnerColorThree: $successMessageTextColor !default;
$progressSpinnerColorFour: $warningMessageTextColor !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuWidth: 12.5rem !default;$menuWidth$menuWidth$menuWidth$menuWidth$menuWidth$menuWidth
$menuBg: $shade700 !default;$menuBg$menuBg$menuBg$menuBg$menuBg
$menuBorder: 1px solid $shade600 !default;$menuBorder$menuBorder$menuBorder$menuBorder
$menuTextColor: $shade000 !default;$menuTextColor$menuTextColor$menuTextColor
$menuitemPadding: 0.75rem 1.25rem !default;$menuitemPadding$menuitemPadding
$menuitemBorderRadius: 0 !default;$menuitemBorderRadius
$menuitemTextColor: $shade000 !default;
$menuitemIconColor: $shade100 !default;
$menuitemTextHoverColor: $shade000 !default;
$menuitemIconHoverColor: $shade000 !default;
$menuitemHoverBg: $hoverBg !default;
$menuitemTextActiveColor: $highlightTextColor !default;
$menuitemIconActiveColor: $highlightTextColor !default;
$menuitemActiveBg: $highlightBg !default;
$menuitemActiveFocusBg: rgb(255 255 255 / 4%);
$menuitemFocusBg: $shade600 !default;
$menuitemTextFocusColor: $shade000 !default;
$menuitemIconFocusColor: $shade000 !default;
$menuitemSubmenuIconFontSize: 0.875rem !default;
$submenuHeaderMargin: 0 !default;
$submenuHeaderPadding: 0.75rem 1.25rem !default;
$submenuHeaderBg: $shade700 !default;
$submenuHeaderTextColor: $shade000 !default;
$submenuHeaderBorderRadius: 0 !default;
$submenuHeaderFontWeight: 700 !default;
$overlayMenuBg: $menuBg !default;
$overlayMenuBorder: 1px solid $shade600 !default;
$overlayMenuShadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%) !default;
$verticalMenuPadding: 0.25rem 0 !default;
$verticalMenuitemMargin: 0 !default;
$menuSeparatorMargin: 0.25rem 0 !default;

$breadcrumbPadding: 1rem !default;
$breadcrumbBg: $menuBg !default;
$breadcrumbBorder: $menuBorder !default;
$breadcrumbItemTextColor: $menuitemTextColor !default;
$breadcrumbItemIconColor: $menuitemIconColor !default;
$breadcrumbLastItemTextColor: $menuitemTextColor !default;
$breadcrumbLastItemIconColor: $menuitemIconColor !default;
$breadcrumbSeparatorColor: $menuitemTextColor !default;

$horizontalMenuPadding: 0.5rem !default;
$horizontalMenuBg: $shade700 !default;
$horizontalMenuBorder: $menuBorder !default;
$horizontalMenuTextColor: $menuTextColor !default;
$horizontalMenuRootMenuitemPadding: $menuitemPadding !default;
$horizontalMenuRootMenuitemBorderRadius: $borderRadius !default;
$horizontalMenuRootMenuitemTextColor: $menuitemTextColor !default;
$horizontalMenuRootMenuitemIconColor: $menuitemIconColor !default;
$horizontalMenuRootMenuitemTextHoverColor: $menuitemTextHoverColor !default;
$horizontalMenuRootMenuitemIconHoverColor: $menuitemIconHoverColor !default;
$horizontalMenuRootMenuitemHoverBg: $menuitemHoverBg !default;
$horizontalMenuRootMenuitemTextActiveColor: $menuitemTextActiveColor !default;
$horizontalMenuRootMenuitemIconActiveColor: $menuitemIconActiveColor !default;
$horizontalMenuRootMenuitemActiveBg: $menuitemActiveBg !default;

//badge and tag
$badgeBg: $primaryColor !default;andtag$badgeBgandtag$badgeBgandtag$badgeBgandtag$badgeBgandtag$badgeBgandtag$badgeBg
$badgeTextColor: $primaryTextColor !default;$badgeTextColor$badgeTextColor$badgeTextColor$badgeTextColor$badgeTextColor
$badgeMinWidth: 1.5rem !default;$badgeMinWidth$badgeMinWidth$badgeMinWidth$badgeMinWidth
$badgeHeight: 1.5rem !default;$badgeHeight$badgeHeight$badgeHeight
$badgeFontWeight: 700 !default;$badgeFontWeight$badgeFontWeight
$badgeFontSize: 0.75rem !default;$badgeFontSize

$tagPadding: 0.25rem 0.4rem !default;

//carousel
$carouselIndicatorsPadding: 1rem !default;$carouselIndicatorsPadding$carouselIndicatorsPadding$carouselIndicatorsPadding$carouselIndicatorsPadding$carouselIndicatorsPadding$carouselIndicatorsPadding
$carouselIndicatorBg: $shade600 !default;$carouselIndicatorBg$carouselIndicatorBg$carouselIndicatorBg$carouselIndicatorBg$carouselIndicatorBg
$carouselIndicatorHoverBg: $hoverBg !default;$carouselIndicatorHoverBg$carouselIndicatorHoverBg$carouselIndicatorHoverBg$carouselIndicatorHoverBg
$carouselIndicatorBorderRadius: 0 !default;$carouselIndicatorBorderRadius$carouselIndicatorBorderRadius$carouselIndicatorBorderRadius
$carouselIndicatorWidth: 2rem !default;$carouselIndicatorWidth$carouselIndicatorWidth
$carouselIndicatorHeight: 0.5rem !default;$carouselIndicatorHeight

//galleria
$galleriaMaskBg: rgb(0 0 0 / 90%) !default;$galleriaMaskBg$galleriaMaskBg$galleriaMaskBg$galleriaMaskBg$galleriaMaskBg$galleriaMaskBg
$galleriaCloseIconMargin: 0.5rem !default;$galleriaCloseIconMargin$galleriaCloseIconMargin$galleriaCloseIconMargin$galleriaCloseIconMargin$galleriaCloseIconMargin
$galleriaCloseIconFontSize: 2rem !default;$galleriaCloseIconFontSize$galleriaCloseIconFontSize$galleriaCloseIconFontSize$galleriaCloseIconFontSize
$galleriaCloseIconBg: transparent !default;$galleriaCloseIconBg$galleriaCloseIconBg$galleriaCloseIconBg
$galleriaCloseIconColor: #f8f9fa !default;$galleriaCloseIconColor$galleriaCloseIconColor
$galleriaCloseIconHoverBg: rgb(255 255 255 / 10%) !default;$galleriaCloseIconHoverBg
$galleriaCloseIconHoverColor: #f8f9fa !default;
$galleriaCloseIconWidth: 4rem !default;
$galleriaCloseIconHeight: 4rem !default;
$galleriaCloseIconBorderRadius: 50% !default;

$galleriaItemNavigatorBg: transparent !default;
$galleriaItemNavigatorColor: #f8f9fa !default;
$galleriaItemNavigatorMargin: 0 0.5rem !default;
$galleriaItemNavigatorFontSize: 2rem !default;
$galleriaItemNavigatorHoverBg: rgb(255 255 255 / 10%) !default;
$galleriaItemNavigatorHoverColor: #f8f9fa !default;
$galleriaItemNavigatorWidth: 4rem !default;
$galleriaItemNavigatorHeight: 4rem !default;
$galleriaItemNavigatorBorderRadius: $borderRadius !default;

$galleriaCaptionBg: rgb(0 0 0 / 50%) !default;
$galleriaCaptionTextColor: #f8f9fa !default;
$galleriaCaptionPadding: 1rem !default;

$galleriaIndicatorsPadding: 1rem !default;
$galleriaIndicatorBg: $shade600 !default;
$galleriaIndicatorHoverBg: rgb(255 255 255 / 10%) !default;
$galleriaIndicatorBorderRadius: 50% !default;
$galleriaIndicatorWidth: 1rem !default;
$galleriaIndicatorHeight: 1rem !default;
$galleriaIndicatorsBgOnItem: rgb(0 0 0 / 50%) !default;
$galleriaIndicatorBgOnItem: rgb(255 255 255 / 40%) !default;
$galleriaIndicatorHoverBgOnItem: rgb(255 255 255 / 60%) !default;

$galleriaThumbnailContainerBg: rgb(0 0 0 / 90%) !default;
$galleriaThumbnailContainerPadding: 1rem 0.25rem !default;
$galleriaThumbnailNavigatorBg: transparent !default;
$galleriaThumbnailNavigatorColor: #f8f9fa !default;
$galleriaThumbnailNavigatorHoverBg: rgb(255 255 255 / 10%) !default;
$galleriaThumbnailNavigatorHoverColor: #f8f9fa !default;
$galleriaThumbnailNavigatorBorderRadius: 50% !default;
$galleriaThumbnailNavigatorWidth: 2rem !default;
$galleriaThumbnailNavigatorHeight: 2rem !default;

//divider
$dividerHorizontalMargin: 1.25rem 0 !default;$dividerHorizontalMargin$dividerHorizontalMargin$dividerHorizontalMargin$dividerHorizontalMargin$dividerHorizontalMargin$dividerHorizontalMargin
$dividerHorizontalPadding: 0 1.25rem !default;$dividerHorizontalPadding$dividerHorizontalPadding$dividerHorizontalPadding$dividerHorizontalPadding$dividerHorizontalPadding
$dividerVerticalMargin: 0 1.25rem !default;$dividerVerticalMargin$dividerVerticalMargin$dividerVerticalMargin$dividerVerticalMargin
$dividerVerticalPadding: 1.25rem 0 !default;$dividerVerticalPadding$dividerVerticalPadding$dividerVerticalPadding
$dividerSize: 1px !default;$dividerSize$dividerSize
$dividerColor: $shade600 !default;$dividerColor

//avatar
$avatarBg: $shade600 !default;$avatarBg$avatarBg$avatarBg$avatarBg$avatarBg$avatarBg
$avatarTextColor: $textColor !default;$avatarTextColor$avatarTextColor$avatarTextColor$avatarTextColor$avatarTextColor

//chip
$chipBg: $shade600 !default;

//chip$chipBg//chip$chipBg

//chip$chipBg//chip$chipBg$chipBg$chipBg
$chipTextColor: $textColor !default;//chip$chipBg//chip$chipBg$chipBg$chipBg$chipTextColor$chipTextColor$chipTextColor$chipTextColor$chipTextColor
$chipBorderRadius: 16px !default;$chipBorderRadius$chipBorderRadius$chipBorderRadius$chipBorderRadius
$chipFocusBg: $shade500 !default;$chipFocusBg$chipFocusBg$chipFocusBg
$chipFocusTextColor: $textColor !default;$chipFocusTextColor$chipFocusTextColor

//scrollTop
$scrollTopBg: $highlightBg !default;//scrollTop$scrollTopBg$scrollTopBg$scrollTopBg$scrollTopBg$scrollTopBg$scrollTopBg
$scrollTopHoverBg: scale-color($highlightBg, $alpha: 24%) !default;$scrollTopHoverBg$scrollTopHoverBg$scrollTopHoverBg$scrollTopHoverBg$scrollTopHoverBg
$scrollTopWidth: 3rem !default;$scrollTopWidth$scrollTopWidth$scrollTopWidth$scrollTopWidth
$scrollTopHeight: 3rem !default;$scrollTopHeight$scrollTopHeight$scrollTopHeight
$scrollTopBorderRadius: 50% !default;$scrollTopBorderRadius$scrollTopBorderRadius
$scrollTopFontSize: 1.5rem !default;$scrollTopFontSize
$scrollTopTextColor: $highlightTextColor !default;

//skeleton
$skeletonBg: rgb(255 255 255 / 6%) !default;$skeletonBg$skeletonBg$skeletonBg$skeletonBg$skeletonBg$skeletonBg
$skeletonAnimationBg: rgb(255 255 255 / 4%) !default;$skeletonAnimationBg$skeletonAnimationBg$skeletonAnimationBg$skeletonAnimationBg$skeletonAnimationBg

//splitter
$splitterGutterBg: rgb(255 255 255 / 3%) !default;

//splitter$splitterGutterBg//splitter$splitterGutterBg

//splitter$splitterGutterBg//splitter$splitterGutterBg$splitterGutterBg$splitterGutterBg
$splitterGutterHandleBg: $shade600 !default;//splitter$splitterGutterBg//splitter$splitterGutterBg$splitterGutterBg$splitterGutterBg$splitterGutterHandleBg$splitterGutterHandleBg$splitterGutterHandleBg$splitterGutterHandleBg$splitterGutterHandleBg

//speeddial
$speedDialButtonWidth: 4rem !default;

//speeddial$speedDialButtonWidth//speeddial$speedDialButtonWidth

//speeddial$speedDialButtonWidth//speeddial$speedDialButtonWidth$speedDialButtonWidth$speedDialButtonWidth
$speedDialButtonHeight: 4rem !default;//speeddial$speedDialButtonWidth//speeddial$speedDialButtonWidth$speedDialButtonWidth$speedDialButtonWidth$speedDialButtonHeight$speedDialButtonHeight$speedDialButtonHeight$speedDialButtonHeight$speedDialButtonHeight
$speedDialButtonIconFontSize: 1.3rem !default;$speedDialButtonIconFontSize$speedDialButtonIconFontSize$speedDialButtonIconFontSize$speedDialButtonIconFontSize
$speedDialActionWidth: 3rem !default;$speedDialActionWidth$speedDialActionWidth$speedDialActionWidth
$speedDialActionHeight: 3rem !default;$speedDialActionHeight$speedDialActionHeight
$speedDialActionBg: $shade000 !default;$speedDialActionBg
$speedDialActionHoverBg: $shade100 !default;
$speedDialActionTextColor: $shade900 !default;
$speedDialActionTextHoverColor: $shade900 !default;

//dock
$dockActionWidth: 4rem !default;$dockActionWidth$dockActionWidth$dockActionWidth$dockActionWidth$dockActionWidth$dockActionWidth
$dockActionHeight: 4rem !default;$dockActionHeight$dockActionHeight$dockActionHeight$dockActionHeight$dockActionHeight
$dockItemPadding: 0.5rem !default;$dockItemPadding$dockItemPadding$dockItemPadding$dockItemPadding
$dockCurrentItemMargin: 1.5rem !default;$dockCurrentItemMargin$dockCurrentItemMargin$dockCurrentItemMargin
$dockFirstItemsMargin: 1.3rem !default;$dockFirstItemsMargin$dockFirstItemsMargin
$dockSecondItemsMargin: 0.9rem !default;$dockSecondItemsMargin
$dockBg: rgb(255 255 255 / 10%) !default;
$dockBorder: 1px solid rgb(255 255 255 / 20%) !default;
$dockPadding: 0.5rem 0.5rem !default;
$dockBorderRadius: 0.5rem !default;
$dockItemBorderRadius: $borderRadius !default;

//image
$imageMaskBg: rgb(0 0 0 / 90%) !default;$imageMaskBg$imageMaskBg$imageMaskBg$imageMaskBg$imageMaskBg$imageMaskBg
$imagePreviewToolbarPadding: 1rem !default;$imagePreviewToolbarPadding$imagePreviewToolbarPadding$imagePreviewToolbarPadding$imagePreviewToolbarPadding$imagePreviewToolbarPadding
$imagePreviewIndicatorColor: #f8f9fa !default;$imagePreviewIndicatorColor$imagePreviewIndicatorColor$imagePreviewIndicatorColor$imagePreviewIndicatorColor
$imagePreviewIndicatorBg: rgb(0 0 0 / 50%) !default;$imagePreviewIndicatorBg$imagePreviewIndicatorBg$imagePreviewIndicatorBg
$imagePreviewActionIconBg: transparent !default;$imagePreviewActionIconBg$imagePreviewActionIconBg
$imagePreviewActionIconColor: #f8f9fa !default;$imagePreviewActionIconColor
$imagePreviewActionIconHoverBg: rgb(255 255 255 / 10%) !default;
$imagePreviewActionIconHoverColor: #f8f9fa !default;
$imagePreviewActionIconWidth: 3rem !default;
$imagePreviewActionIconHeight: 3rem !default;
$imagePreviewActionIconFontSize: 1.5rem !default;
$imagePreviewActionIconBorderRadius: 50% !default;

:root {
    --surface-a: #{$shade800};
    --surface-b: #{$shade900};
    --surface-c: #{$hoverBg};
    --surface-d: #{$shade600};
    --surface-e: #{$shade800};
    --surface-f: #{$shade800};
    --text-color: #{$shade000};
    --text-color-secondary: #{$shade100};
    --primary-color: #{$primaryColor};
    --primary-color-text: #{$primaryTextColor};
    --primary-light-color: #{$primaryLightColor};
    --primary-lighter-color: #{$primaryLighterColor};
    --font-family: #{$fontFamily};
    --surface-0: #293241;
    --surface-50: #343d4a;
    --surface-100: #545b67;
    --surface-200: #69707a;
    --surface-300: #7f848d;
    --surface-400: #9499a0;
    --surface-500: #a9adb3;
    --surface-600: #bfc2c6;
    --surface-700: #d4d6d9;
    --surface-800: #eaebec;
    --surface-900: #fff;
    --gray-50: #eaebec;
    --gray-100: #d4d6d9;
    --gray-200: #d4d6d9;
    --gray-300: #bfc2c6;
    --gray-400: #a9adb3;
    --gray-500: #7f848d;
    --gray-600: #69707a;
    --gray-700: #545b67;
    --gray-800: #343d4a;
    --gray-900: #293241;
    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};
    --border-radius: #{$borderRadius};
    --surface-ground: #293241;
    --surface-section: #343d4a;
    --surface-card: #343d4a;
    --surface-overlay: #343d4a;
    --surface-border: #545b67;
    --surface-hover: #{$shade200};
    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};

    color-scheme: dark;
}
