$primaryColor: #14b8a6 !default;
$primaryLightColor: #8adcd3 !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #0d9488 !default;
$primaryDarkerColor: #0f766e !default;
$primaryTextColor: #fff !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import url('../_variables');
@import url('../../theme-base/_components');
@import url('../_extensions');
